BODY {
    color:#cccccc;
    background:#010303;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center top;
    scrollbar-track-color:#010303;
    scrollbar-face-color:#010303;
    scrollbar-arrow-color:#cccccc;
    scrollbar-3dlight-color:#010303;
    scrollbar-darkshadow-color:#010303;
    scrollbar-highlight-color:#0;
    scrollbar-shadow-color:#0;
}

BODY.BG {
    background-image:url("img/BG.jpg");
}

.sec01 {
    color:#ffcc55;
}

.sec99 {
    color:#80ffff;
}

.highlight {
    color:#ffff00;
}

.bold01 {
    color:#ffffff;
    font-weight:bold;
}
